
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');
h1, p, button{
  font-family: 'Source Code Pro', monospace;
}
.text-box{
  width:90%;
}
.text-area{
  height:70vh;
  width:100%;
  margin:1%;
  border: 2px solid black;;
}
.row {
  --bs-gutter-x: 0;
 
}
.social-icons  i{
  font-size:1.5rem;
  color:white;
  padding: 0.5rem; 
}
.social-icons  i:hover{
  color:#7A4EB1;
}
.footer{
  margin:0;
}
.footer a{
  color:#7A4EB1 !important;
}
.footer a:hover{
  color:white !important;
}

.utility-buttons button{
  margin:5px;
}
.bg-green{
  background-color:#85B14E ;
}
.button-primary{
  background-color:#85B14E ;
  color:white;
}
.button-primary:hover{
  background-color:#7A4EB1;
  color:white;
}
.button-secondary{
  background-color: #7A4EB1;
  color:white;
}
.button-secondary:hover{
  background-color: #85B14E;
  color:white;
}
.functional-group{
  margin-top: 3.5rem;
}
@media only screen and (max-width: 768px) {
 
.text-area {
  height: 500px;
  
}
}